LAWRENTIAN/build-LuD-Clone_of_Desktop_Qt_5_4_0_MSVC2010_OpenGL_32bit-Debug/*
LAWRENTIAN/build-LuD-Desktop_Qt_5_4_0_MinGW_32bit-Debug/*
LAWRENTIAN/build-LuD-Desktop_Qt5_4_0_MSVC2010_OpenGL_32bit_with_Debugger/*
*.pdb
LAWRENTIAN/build-LuD-Clone_of_Desktop_Qt_5_4_0_MSVC2010_OpenGL_32bit-Debug/debug/lud.pdb
*.pdb
LAWRENTIAN/build-LuD-Clone_of_Desktop_Qt_5_4_0_MSVC2010_OpenGL_32bit-Debug/Makefile
*.Debug
LAWRENTIAN/build-LuD-Clone_of_Desktop_Qt_5_4_0_MSVC2010_OpenGL_32bit-Debug/Makefile.Debug
*.pdb
LAWRENTIAN/build-LuD-Clone_of_Desktop_Qt_5_4_0_MSVC2010_OpenGL_32bit-Debug/Makefile
*.Debug
*.exe
*.pdb
*.Debug
*.Release
*.exe